:root {
    font-family: 'Courier New', Courier, monospace;
    background-color: #0b0b13;
    /* Asfalto oscuro */
    color: #e0e0e0;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #0b0b13;
}

.app-container {
    width: 100%;
    height: 100%;
    display: block; /* Cambiado de flex para evitar mover el contenido absoluto */
    position: relative;
}

.main-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 3rem;
    background: rgba(15, 15, 25, 0.95);
    border: 2px solid #ff007f;
    border-radius: 16px;
    box-shadow: 0 0 40px rgba(255, 0, 127, 0.3);
    backdrop-filter: blur(8px);
    width: 90%;
    max-width: 500px;
}

.title-neon {
    font-size: 3rem;
    color: #fff;
    text-transform: uppercase;
    text-shadow:
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 20px #00e5ff,
        0 0 40px #00e5ff,
        0 0 80px #00e5ff;
    margin-bottom: 0px;
}

.subtitle {
    color: #ff007f;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 2rem;
}

.btn-play {
    background-color: transparent;
    color: #00e5ff;
    border: 2px solid #00e5ff;
    padding: 15px 30px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Courier New', Courier, monospace;
}

.btn-play:hover {
    background-color: #00e5ff;
    color: #000;
    box-shadow: 0 0 15px #00e5ff;
}

#phaser-container {
    width: 100%;
    height: 100%;
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.9); }
    to { opacity: 1; transform: scale(1); }
}